
body{
/* background-image:url("../images/leftbg.jpg");	 */
/* background-color: #e3e3e3; */
 		 color:#808080;
         /* font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; */
         font: 14px "Microsoft YaHei",Helvetica,Arial,sans-serif;
		 background: #f0f3f4 none repeat scroll 0 0;
}
/* body,div,td {
         color:#808080;
         font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
} */
.sensor-div {
		min-height: 480px;
		position: absolute;
		/* margin-left:20px; */
		margin-right:20px;
		margin-left£º0px;
	/* 	margin-top:-20px; */
		/* padding: 5px; */
		text-align: center;
	/* 	background-color: rgba(255,255,255,0.4); */
		background-color:white;
		/* border: groove; */
		width:900px;
	/* 	border:1px solid #c0c0c0; */
		height:100%;
		border-radius: 12px;
		/* margin-top: -15px;  */
		top: -15px; 
	    padding-top: 20px;
		/* border-color: rgba(255,255,255,0.4); */
		/* line-height: 1.5em; */
     
	}
	.sensor-div table {
		/* margin-top: 10px; */
		
    	  border: 1px solid #c7c7c7;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    	
	/* 	border:groove;
		border-radius: 6px; */
		/* border-color: rgba(255,255,255,0.4); */
	}
table td {
    font-size: 12px;
    line-height: 40px;
}
	.sensor-div table th, 	.sensor-div table td {
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    text-align: center;
}

	.sensor-div table .dataTableHead {
	 line-height: 40px;
    background: #f2f2f2 none repeat scroll 0 0;
}	
/* 	.sensor-div table tr th{
		font-weight:bold;
		margin: 0px;
		border:groove;
		border-radius: 6px;
		background-color:#e0e0e0;
		border: 1px  solid #c0c0c0;
		padding: 10px;
	} */
/* 	
	.sensor-div table tr td{
		color: green;
		font-weight: bold;
		margin: 0px;
		border: 1px solid  #c0c0c0;
		border:groove;
		padding:10px;
		border: 1px solid  #c0c0c0;
	
		border-color: rgba(255,255,255,0.4);
	}
	 */
	
	
.submit-div {
		margin-top:-20px;
		/* margin-left:50px; */
		width:900px;
		position: absolute;
		padding: 5px;
		text-align: center;
	/* 	background-color: rgba(255,255,255,0.4); */
	/* 	border: groove; */
		/* border-radius: 12px; */
	/* 	border-color: rgba(255,255,255,0.4); */
	}
	.submit-div table {
		background-color:white;
		width:880px;
	font-weight:bold;
	margin:10px;
	/* 	margin-top: 20px; */
	/* 	border:groove; */
	margin-left:0px;
		border-radius: 6px;
		border-color: rgba(255,255,255,0.4);
		
	}
	
	.submit-div table tr th{
		color: #555;
		font-weight:bold;
		margin: 2px;
		border:groove;
		border-radius: 6px;
		border-color: rgba(255,255,255,0.4);
		
	}
	
	.submit-div table tr td{
	/* 	color: green; */
		
		font-weight: bold;
		padding-left:20px;
		padding-right:20px;
		padding:5px;
		margin: 2px;
		border:groove;
		border-radius: 6px;
		border-color: rgba(255,255,255,0.4);
		border:0px;
	}


a{
color: #555;	
	text-decoration: none;
}
a:hover{
	
	color: #808080;

/* 	font-weight: bold; */
}
/* a:visited {
    color: #808080;
    border-bottom: 4px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
     
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
     
    text-decoration: none;
    box-shadow: inset 1px 1px 0 #f5f5f5;
} */
a:active {
text-decoration: none;
}

ul li
{
list-style-type:none;
}

.operate a{
	color: #00a3e0;
	text-decoration: none;
}
.operate a:HOVER{
 text-decoration: underline;
}
table td strong{
	padding-left:20px; font-size: 20px;
}